<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Biomedical Engineer's Assistant</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>

    <header class="site-header">
        <nav>
            <div class="navbar-nav">
                <a class="nav-item" href="{{ url_for('home') }}">Home</a>
                <a class="nav-item" href="{{ url_for('about') }}">About</a>
                <a class="nav-item" href="{{ url_for('educational') }}">educational </a>
            </div>
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-item" href="{{ url_for('chat') }}">AI chatbot</a>
                    <a class="nav-item" href="{{ url_for('logout') }}">Logout</a>
                    
                {% else %}
                    <a class="nav-item" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-item" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>
</body>

</html>